@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-aero-900: #0F172A;
  --color-aero-800: #1E293B;
  --color-aero-700: #334155;
  --color-aero-500: #3B82F6;
  --color-aero-400: #60A5FA;
  --color-aero-accent: #10B981;
  --color-aero-danger: #EF4444;
  --font-sans: "Outfit", sans-serif;
}

body {
  @apply bg-aero-900 text-slate-100 font-sans antialiased;
}
